/* ================== Google fonts ====================== */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

/* *================== Basic style ====================== */

:root {
  --bgColor: #1e1e2c;
  --textColor: #ffffff;
  --cardColor: #2d2d44;
  --primaryColor: #33e1ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
}

html {
  scroll-behavior: smooth;
}

h1,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

h1,
h4 {
  color: var(--primaryColor);
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1.2rem;
  color: var(--textColor);
  font-weight: 400;
}

p {
  color: var(--textColor);
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  opacity: 80%;
  font-size: 1rem;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}
